*{
  margin: 0;
  padding: 0;
}
body{
  overflow: hidden;
}
.container{
  width: 1px;
  height: 100vh;
  position: relative;
  perspective: 1000px;
  transform-style: preserve-3d;
  margin: 0 auto;
}
.slide-1{

  position: absolute;
  transform: translateZ(-100px);
  top: 100px;
  left:-300px;
  height: 200px;
  width: 200px;
  transition-duration: 1s;q
}
.slide-2{

  position: absolute;
  transform: translateZ(-50px);
  top: 100px;
  left: -200px;
  height: 200px;
  width: 200px;
  transition-duration: 1s;
}
.slide-3{

  position: absolute;
  transform: translateZ(0);
  top: 100px;
  left: -100px;
  height: 200px;
  width: 200px;
  transition-duration: 1s;
}
.slide-4{

  position: absolute;
  transform: translateZ(-50px);
  top: 100px;
  left: 0px;
  height: 200px;
  width: 200px;
    transition-duration: 1s;
}
.slide-5{

  position: absolute;
  transform: translateZ(-100px);
  top: 100px;
  left: 100px;
  height: 200px;
  width: 200px;
    transition-duration: 1s;
}
